@font-face {
    font-family: NotoSansTC;
    src: url("/fonts/notosanstc/NotoSansTC-Regular.otf");
}

/*
@font-face {
    font-family: NotoSansTC Medium;
    src: url("/fonts/notosanstc/NotoSansTC-Medium.otf");
}

@font-face {
    font-family: NotoSansTC Light;
    src: url("/fonts/notosanstc/NotoSansTC-Light.otf");
}

@font-face {
    font-family: NotoSansTC Bold;
    src: url("/fonts/notosanstc/NotoSansTC-Bold.otf");
}

@font-face {
    font-family: NotoSansTC Thin;
    src: url("/fonts/notosanstc/NotoSansTC-Thin.otf");
}

@font-face {
    font-family: NotoSansTC Black;
    src: url("/fonts/notosanstc/NotoSansTC-Black.otf");
}
*/
